<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/index.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Videoteka</title>
</head>
<body>

<div class = "mainDiv" >
    <h1>Videoteka</h1>
</div>


<div class="navDiv">
    <div class="inner">
        <ul class="ul_nav">
            <li class="linav"><a href="/api/v1/videoteka/movies">Movies</a></li>
            <li class="linav"><a href="/api/v1/videoteka/series">Series</a></li>
            <li class="linav"><a href="/api/v1/videoteka/cartoons">Cartoons</a></li>
        </ul>
    </div>
</div>

</body>
</html>