<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Add entertainment</title>
    <link href="/css/add-delete.css" rel="stylesheet"/>


</head>

<body>
<h1 style="text-align:center">Add</h1>


<div class="nav">
    <ul>
        <li>
            <a href="/api/v1/videoteka/admin-add-delete/series"> Series</a>
        </li>
        <li>
            <a href="/api/v1/videoteka/admin-add-delete/cartoons">Cartoons</a>
        </li>
        <div class="logout">
            <li><a href="/api/v1/videoteka/logout"><b>Log out</b></a></li>
        </div>
    </ul>
</div>

<div class ="mainDiv">
    <form action="#"
          th:action="@{/api/v1/videoteka/admin-add-delete/movies}"
          method="post"
          th:object="${movies}"
    >
        <div style="padding:5px">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Runtime</th>
            </tr>

            <tr >
                <td>
                    <input type="text" th:field="*{name}">
                </td>
                <td>
                    <input type="text" th:field="*{year}">
                </td>
                <td>
                    <input type="text" th:field="*{runtime}">
                </td>
            </tr>

        </table>

        </div>
        <div class="checkBoxDiv">
            <select multiple="multiple" th:name="ids" class="select">
                <option th:each="p : ${g}" th:value="${p.id}"  th:text="${p.name}" style="text-align:center">
                </option>
            </select>
        </div>

        <button style="
            width:100px;
            height:30px;
            margin-top:5px;
            margin-bottom:5px;
            text-align:center;" type="submit movies">Go</button>

    </form>

</div>

<div class="getAllMovies">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Runtime</th>
            <th>Genre</th>
        </tr>
        <tr th:each="movie : ${m}">
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.runtime}"></td>
            <td><span th:each="genres : ${movie.genres}"
                      th:text="${genres.name + ' '}">
          </span></td>
            <td><a th:href="@{/api/v1/videoteka/deleteMovie/{id}(id=${movie.id})}">Delete</a></td>
            <td><a th:href="@{/api/v1/videoteka/admin-add-delete/movies/update/{id}(id=${movie.id})}">Edit</a></td>
        </tr>

    </table>

</div>


</body>
</html>