<!DOCTYPE html>
<html>
    <head>
        <title>Create account</title>
        <link href="/css/create-account.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="form-main">
            <form>
                <label>First name</label>
                <input type="text">

                <label>Last name</label>
                <input type="text">


                <label>Username</label>
                <input type="text">

                <label>Password</label>
                <input type="text">


                <label>Repeat password</label>
                <input type="text">

                <label>Email</label>
                <input type="text"><br>

                <button type="submit">Create account</button>
            </form>
        </div>

        <div class="question">
            <h1>Have a account already?</h1>
            <p><b>Go back to login page</b></p>
            <a href="/api/v1/videoteka/login"><h1>Login</h1></a>
        </div>
    </body>
</html>